.timerDisplay {
  display: flex;
  justify-content: center;
  width: 100%;

  font-size: 150px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: #414141;
}

.isTimeRunningOut {
  color: #f50e0e;
}

.isOvertime {
  color: #818181;
}
