* {
  font-size: 30px;
}

.page {
  min-height: 100vh;
  background: #f6f4ef;
  color: #414141;
  font-family: Pretendard, Arial, sans-serif;
  line-height: 1.4;
}

.shell {
  padding: 50px;
}

.panel {
  border: 1px solid black;
  padding: 10px;
}

.headingRow {
  display: flex;
  justify-content: space-between;
}

.h1 {
  display: inline-block;
}

.button {
  display: inline-block;
}

.timeWrap {
  font-size: 15px;
}

.habitList {
  display: flex;
  flex-direction: column;
}

.listHeadingRow {
  display: flex;
  justify-content: center;
  & button {
    font-size: 20px;
    height: 30px;
  }
}

ul {
  margin: 30px auto;
}

.isChecked {
  border: solid green 1px;
}